html, body {
	margin: 0px;
	padding: 0px;
}

#map {
	position: absolute;
	height: 100%;
	width: 100%;
}

/*.leaflet-div-icon {
	background: transparent !important;
	border: 0 !important;
}*/

.bike-icon-inner {
	background: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
	border-radius: 10px;
	font-weight: bold;
	position: relative;
	top: 3px;
	left: 3px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.bike-icon-ring {
	background: green;
	/*background-image:
		linear-gradient(126deg, transparent 50%, white 50%),
		linear-gradient(90deg, white 50%, transparent 50%);*/
	
	width: 26px;
	height: 26px;
	border-radius: 13px;
}

.bike-icon-empty {
	background: white;
	color: silver;
}