html, body {
	margin: 0px;
	padding: 0px;
}

#map {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 80px;
}

/*.leaflet-div-icon {
	background: transparent !important;
	border: 0 !important;
}*/

.bike-icon-inner {
	background: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
	border-radius: 10px;
	font-weight: bold;
	position: relative;
	top: 3px;
	left: 3px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.bike-icon-ring {
	
	/*background-image:
		linear-gradient(126deg, transparent 50%, white 50%),
		linear-gradient(90deg, white 50%, transparent 50%);*/
	
	width: 26px;
	height: 26px;
	border-radius: 13px;
}

.bike-icon-empty {
	background: white;
	color: silver;
}

.rentwindow {
	position: absolute;
	background: white;
	z-index: 999;
	margin-top: 170px;
    width: 94%;
	margin-left: 3%;
    max-height: 80%;
	border-radius: 3px;
	overflow-y: scroll;
}

.custommapcontrol {
	border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    background: white;
    height: 60px;
    width: 120px;
	border-radius: 3px;
	font-size: 30px;
    line-height: 60px;
    text-align: center;
}

.rent-row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 0.5px rgba(0,0,0,0.2) solid;
}

.rent-row-bike-value {
	text-align: center;
	font-family: sans-serif;
	color: gray;
	font-size: 24px;
	font-weight: bold;
}

.rent-row-key-value {
	text-align: center;
	font-family: monospace;
	color: gray;
	font-size: 24px;
	font-weight: bold;
}

.rent-row-description {
	text-align: center;
	font-family: sans-serif;
	color: gray;
	font-size: 10px;
}

.rent-row-return-button {
	font-size: 16px;
	color: white;
	background: rgb(5, 133, 237);
	border-radius: 20px;
	border: 0;
	height: 40px;
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.startrent-number-input {
	font-size: 44px;
	font-family: monospace;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid silver;
	color: darkgray;
	display: block;
	margin-top: 8px;
}

.startrent-number-label {
	text-align: center;
	font-family: sans-serif;
	color: gray;
	font-size: 18px;
}

.startrent {
	margin-top: 20px;
}

.start-rent-button {
	font-size: 22px;
	margin-top: 20px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
	color: white;
	background: rgb(5, 133, 237);
	border-radius: 20px;
	border: 0;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.social-login {
	margin: 20px;
}

.social-login-buttonbox {
	display: flex;
	justify-content: space-between;
}

.social-login-description {
	text-align: center;
    font-family: sans-serif;
    color: gray;
    margin-bottom: 20px;
}

.social-login-service {
	flex-basis: 33%;
	text-decoration: none;
	color: gray;
	text-align: center;
}

.social-login-service img {
	width: 100%;
}

nav {
	position: absolute;
	top: 0;
	height: 80px;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

nav div {
	position: absolute;
	left: 74px;
	right: 9px;
	text-align: right;
	display: inline-block;
	color: rgba(0, 0, 0, 0.5);
}

@media (orientation: landscape) and (max-height: 480px) {
	nav { height: 56px; }
	#map { top: 56px; }
}

@media (min-width: 480px) {
	nav { height: 64px; }
	#map { top: 64px; }
}

nav a, nav a:hover, nav a:focus {
	text-decoration: none;
	color: #9a00fb;
}

nav {
	font-family: sans-serif;
	background-image: url("../img/bike_icon_160.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 5px;
}
